<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- 	<listeners> -->
<!-- 	<listener -->
<!-- 	class-name="AutomationTutorial.TestComponents.Listeners" /> -->
<!-- 	</listeners> -->
	<test thread-count="5" name="Test">
		<!-- <groups> -->
		<!-- <run> -->
		<!-- <include name="Purchase" /> -->
		<!-- </run> -->
		<!-- </groups> -->
		<classes>
			<class name="AutomationTutorial.SubmitOrder" />
		</classes>
	</test> <!-- Test -->
	<!-- <test thread-count="5" name="Error Validations Test"> -->
	<!-- <classes> -->
	<!-- <class -->
	<!-- name="AutomationTutorial.TestComponents.ErrorValidationsTest" /> -->
	<!-- </classes> -->
	<!-- </test> -->
	<!-- Test -->
</suite>
